<div class="outside">
  <div class="container-tasks">
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix></mat-icon>
      <mat-hint>Write task your and add it</mat-hint>
    </mat-form-field>
    <div class="example-button-container">
      <button mat-fab color="primary" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

</div>
