<script src="../../../server/server.js"></script>
<script src="to-do-form.component.ts"></script>
<form [formGroup]="form" (ngSubmit)="add()">
  <div class="outside">
    <div class="container-tasks">
      <mat-form-field appearance="fill">
        <mat-label>Write your task here</mat-label>
        <input matInput placeholder="Stuff to do!" formControlName="item">
        <mat-icon matSuffix></mat-icon>
        <mat-hint>Press the "heart" to add it to the list</mat-hint>
      </mat-form-field>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>
<p></p>

<div class="stuff-list">
  <mat-list>
  <mat-list-item *ngFor="let item of itemList$ | async; index as i">
    <div matListItemTitle>{{item.items}}</div>
    <hr>
    <div matListItemLine>Task Number #{{i + 1}}</div>
    <mat-icon matListItemIcon (click)="delete(item)">delete_sweep</mat-icon>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
</div>
