.outside {
  display: flex;
  justify-content: center;
}

.container-tasks {
  margin-top: 3%;
  display: flex;
}

mat-form-field {
  margin-right: 15px;
}

mat-form-field {
  width: 400px;
}

.stuff-list {
  margin-top: 4rem;
  text-align: center;
  width: 300px;
  margin: auto;
}

h2 {
  font-size: 25px;
  margin: auto;
  text-align: center;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}
