.outside {
  display: flex;
  justify-content: center;
}

.container-tasks {
  margin-top: 3%;
  display: flex;
}

mat-form-field {
  margin-right: 15px;
}

mat-form-field {
  width: 400px;
}

.stuff-list {
  margin-top: 4rem;
  text-align: center;
}

h2 {
  font-size: 50px;
}
