<div class="outside">
  <div class="container-tasks">
    <mat-form-field appearance="fill">
      <mat-label>Write your task here</mat-label>
      <input matInput placeholder="Stuff to do!">
      <mat-icon matSuffix></mat-icon>
      <mat-hint>Press the "heart" to add it to the list</mat-hint>
    </mat-form-field>
    <div class="example-button-container">
      <button mat-fab color="primary" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

</div>
